@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

::selection {
  color: #fff;
  background: #17a2b8;
}

@media (min-width:460px){
    #filterFrame{
        position: absolute;
        left: 0;
    }
}


@media (max-width:460px){
    #filterFrame{
        position: relative;
        
    }
}

#PriceRange{
    width: 250px;
    height: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
}

#MinPriceField, #MaxPriceField{
    width: 60px;
    font-size: 12px;
}