<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/Brand.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/CartAnimation.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-hexashop.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchfield.css' %}">
    </head>
    
    <body>

    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">

                        <a href="\../" class="logo">
                            <img id="LogoPoint" class="brandLogo" src="{% static 'images/companyLogo.png' %}">   
                        </a>

                        <ul class="nav">
                            <li class="scroll-to-section">
                                <div class="CartBoundary" style="cursor: pointer;">
                                    <a href="../../Cart">
                                        <i class="fa" style="font-size:25px">&#xf07a;</i>
                                        <span id="lblCartCount" class='badge badge-warning'> 0 </span>
                                    </a>
                                </div>                  
                            </li>
                            <li class="scroll-to-section"><a href="#top">Home</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li>
                            <li class="submenu">

                                
                                <a href="javascript:;">Brands</a>
                                <ul>
                                    <li><a href="#">Kahuna</a></li>
                                    <li><a href="#">Osaki</a></li> 
                                    <li><a href="#">Real Relax</a></li>
                                    <li><a href="#">Homedics</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section onpage"><a href="#explore">Explore</a></li>
                            <li class="scroll-to-section"><a href="/productsPage">Products</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>

                </div>
                
            </div>
            <div class="smaller-wrapper">
                <div class="s130">
                    <form>
                        <div class="inner-form">
                            <div class="input-field first-wrap">
                                <div class="svg-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                                    </svg>
                                </div>
                                <input onclick="AnimateLogo()" id="search" type="text" placeholder="What are you looking for?" />
                            </div>
                            <div class="input-field second-wrap">   
                                <button onclick="AnimateLogo()" style="font-size: smaller;" class="btn-search" type="button">SEARCH</button>
                            </div>
                        </div>
                        <span class="info">ex. Air Massage, Body Scan Tech</span>
                    </form>
                </div>
            </div>
        </div>
        <div id='CartHub'>
            <div class="CartBoundaryFixed MobileCart" style="cursor: pointer;">
                <a href="../../Cart">
                    <i class="fa" style="font-size:24px;">&#xf07a;</i>
                    <span id="lblCartCountMobile" class='badge badge-warning'> 0 </span>
                </a>
            </div>
        </div>
    </header>
    <br><br><br><br><br><br>
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Latest Products</h2>
                        <span>Check out all of our products.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="../../Buy/1/"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                    <li><a><i data-id="1" onclick="AddToCard(event)" class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <img src="https://richmedia.ca-richimage.com/ImageDelivery/imageService?profileId=12026540&id=1579459&recipeId=729" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Classic Spring</h4>
                            <span>$120.00</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="../../Buy/1/"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                    <li><a><i data-id="2" onclick="AddToCard(event)" class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <img src="https://e9w2fg8sy43.exactdn.com/wp-content/uploads/2021/11/2-39.jpeg?strip=all&lossy=1&ssl=1" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Air Force 1 X</h4>
                            <span>$90.00</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="../../Buy/1/"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                    <li><a><i data-id="3" onclick="AddToCard(event)" class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <img src="https://media.kohlsimg.com/is/image/kohls/5764336?wid=620&hei=620&op_sharpen=1" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Love Nana ‘20</h4>
                            <span>$150.00</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="../../Buy/1/"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                    <li data-id="4" onclick="AddToCard(event)"><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <img src="https://emassagechair.com/cdn/shop/products/osaki-os-champ-black-and-gray-45.jpg?v=1666398843" alt="">
                        </div>
                        <div class="down-content">
                            <h4>New Green Jacket</h4>
                            <span>$75.00</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="../../Buy/1/"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                    <li data-id="5" onclick="AddToCard(event)"><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <img src="https://cdn4.volusion.store/onpx9-9oudp/v/vspfiles/photos/OS-4000-2.jpg?v-cache=1699407481" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Classic Dress</h4>
                            <span>$45.00</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="../../Buy/1/"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                    <li data-id="6" onclick="AddToCard(event)"><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <img src="https://osakimassagechair.com/cdn/shop/products/osaki-os-7200h-pinnacle-cream-402253_512x512.jpg?v=1690578826" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Spring Collection</h4>
                            <span>$130.00</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="../../Buy/1/"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <img src="https://storage.googleapis.com/massagechairdeals/Osaki-OS-7200CR-Massage-Chair-Brown-1.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>School Collection</h4>
                            <span>$80.00</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="../../Buy/1/"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <img src="https://osakimassagechair.com/cdn/shop/products/osaki-os-4000t-black-766887_512x512.jpg?v=1690578931" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Summer Cap</h4>
                            <span>$12.00</span>
                            <br>
                            <div>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="../../Buy/1/"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                    <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <img src="https://www.reclinerland.com/wp-content/uploads/2020/07/Osaki-OS-4000.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <h4>Classic Kid</h4>
                            <span>$30.00</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="pagination">
                        <ul>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li >
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
            $("."+selectedClass).fadeIn();
            $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

        var logoElement = document.getElementById('LogoPoint');
        document.addEventListener('DOMContentLoaded', function() {
            setTimeout(() => {
                logoElement.classList.add('active');
            }, 999);
            setTimeout(() => {
                logoElement.classList.remove('active');
            }, 1699);
        });

        function AnimateLogo(){
            logoElement.classList.add('active');
            setTimeout(() => {
                logoElement.classList.remove('active');
            }, 1000);
        }

        function ManageCart(product_id, quantity = 1) {
            const savedProducts = JSON.parse(localStorage.getItem('MassageCart')) || [];
            let isRemoved = false;
        
            const index = savedProducts.findIndex(product => product.product_id === product_id);
        
            if (index === -1) {
                savedProducts.push({ product_id, quantity });
            } else {
                savedProducts.splice(index, 1);
                isRemoved = true;
            }
        
            localStorage.setItem('MassageCart', JSON.stringify(savedProducts));
        
            return [savedProducts.length, isRemoved];
        }
        function AddToCard(data=null){
            const product_id = data.target.dataset.id ? Number(data.target.dataset.id) : null;
            console.log(data.target.dataset.id)
            const result = ManageCart(product_id);
            const total_products = result[0];
            const current_color = result[1] ? '#343a40' : 'rgb(127,255,212)';
            const element = data.target;
            const Datapath = document.getElementById('lblCartCount')
            const DatapathMobile = document.getElementById('lblCartCountMobile')
            const Divpath = document.getElementsByClassName('CartBoundary')[0];
            const DivpathMobile = document.getElementsByClassName('MobileCart')[0];
            Divpath.classList.add('animateCart');
            DivpathMobile.classList.add('animateCart');
            Datapath.textContent = total_products;
            DatapathMobile.textContent = total_products;
            if (result[1]){
                element.classList.add('rollback');
                element.classList.remove('CartSelected');
            }
            else{
                element.classList.remove('rollback');
                element.classList.add('CartSelected');
            }
            setTimeout(() => {
                element.style.color = current_color;
            }, 333);
            setTimeout(() => {
                Divpath.classList.remove('animateCart');
                DivpathMobile.classList.remove('animateCart');
            }, 999);
        }

        function SetProductCard(){
            const Cart = JSON.parse(localStorage.getItem('MassageCart')) || [];
            const total_products = Cart.length;
            const Datapath = window.innerWidth > 767 ? document.getElementById('lblCartCount') : document.getElementById('lblCartCountMobile');
            Datapath.textContent = total_products;
            Cart.forEach(Each=>{
                const element = document.querySelector(`[data-id="${Each.product_id}"]`);
                element.style.color = 'rgb(127,255,212)';
            })
        }
        
        SetProductCard()
    </script>

</body>
</html>